@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

#msg-box4-b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-b .mbr-article {
  color: #ffffff;
}
#msg-box2-f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-f .mbr-article {
  color: #252525;
}
#msg-box5-a .mbr-header__text {
  color: #ffffff;
}
#msg-box5-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-a .mbr-article {
  color: #ffffff;
}
#form2-i .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#dropdown-menu-2btn-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-s .nav .link,
#dropdown-menu-2btn-s .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#dropdown-menu-2btn-s .navbar,
#dropdown-menu-2btn-s .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-s .dropdown-menu a:hover,
#dropdown-menu-2btn-s .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-s .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-w .nav .link,
#dropdown-menu-2btn-w .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-w .navbar,
#dropdown-menu-2btn-w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-w .dropdown-menu a:hover,
#dropdown-menu-2btn-w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-w .navbar-toggler {
  color: #ffffff;
}
#image1-11 SMALL {
  text-align: center;
}
#dropdown-menu-2btn-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-13 .nav .link,
#dropdown-menu-2btn-13 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-13 .navbar,
#dropdown-menu-2btn-13 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-13 .dropdown-menu a:hover,
#dropdown-menu-2btn-13 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-13 .navbar-toggler {
  color: #ffffff;
}
#msg-box1-16 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-16 .mbr-article {
  color: #fff;
}
#dropdown-menu-2btn-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-13 .nav .link,
#dropdown-menu-2btn-13 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-13 .navbar,
#dropdown-menu-2btn-13 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-13 .dropdown-menu a:hover,
#dropdown-menu-2btn-13 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-13 .navbar-toggler {
  color: #ffffff;
}
